:root {
  --white-main: #ffffff;
  --grey-secondary: #c0c0c0;
  --blue-button: #167bf7;
  --black-backgroud: #00030c;
}
body {
  font-family: "Inter", sans-serif;
  color: var(--white-main);
  background-color: var(--black-backgroud);
  font-weight: 400;
}
.header-background {
  width: 75vw;
}
.header-content {
  height: 100vh;
  background-image: url("./assets/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.header-content-text {
  grid-row-start: 2;
  margin-left: 10vw;
}
.header-content-text h1 {
  text-align: center;
  margin-bottom: 9px;
}
.header-content-text button,
.main-second-container-text button {
  text-align: center;
  box-sizing: border-box;
  padding: 12px 30px;
  width: 356px;
  margin: 9px;
  color: var(--white-main);
  border-radius: 10px;
}
.header-button-main {
  background: var(--blue-button);
}
.header-button-second {
  background: transparent;
  border: 2px solid var(--white-main);
}
.header-content-text h1 {
  font-weight: 700;
}
.header-content-text p {
  font-size: 0.7rem;
  color: var(--grey-secondary);
}
.header-content-text button:hover,
.main-second-container-text button:hover {
  cursor: pointer;
}
.section-flex-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-first-container figure {
  margin-left: 20vw;
}
.main-first-container-text h2,
.main-third-container-text h1 {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  margin-bottom: 10px;
}
.main-first-container-text p,
.main-third-container-text p {
  width: 40em;
  font-size: 0.7rem;
  color: var(--grey-secondary);
}
.main-second-container-text p {
  width: 30em;
  color: var(--grey-secondary);
}
.main-second-container-text button {
  background: var(--blue-button);
}
.main-third-container-text p {
  width: 40em;
  font-size: 0.7rem;
  color: var(--grey-secondary);
}
.main-fourth-container h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}
.main-fourth-container-content p {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}
footer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
footer ul {
  display: flex;
  justify-content: center;
}
footer p,
footer address {
  text-align: center;
  color: var(--grey-secondary);
  font-size: 0.7rem;
  margin: 10px auto;
  width: 70%;
}
footer li a {
  color: var(--grey-secondary);
  text-decoration: none;
  margin-left: 20px;
  text-align: center;
}
